.nd_options_section.nd_options_text_align_center.nd_options_display_none.nd_options_display_block_responsive {
  background-color: #7a8f6d;
}

.nd_options_color_white.nd_options_second_font_important.nd_booking_width_100_percentage.nd_booking_font_weight_lighter.nd_booking_letter_spacing_2.nd_booking_font_size_12.nd_booking_line_height_18.nd_booking_white_space_normal {
  background-color: #7a8f6d;
}